.myContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: smaller;
}

body > div.A4 {
	/* border: 2px rgb(2, 110, 2) dashed; */
	width: 1224px !important;
	padding: 0;
	margin: 0;
}/* 
body  {
	border: 2px rgb(144, 47, 255) dashed;
} */
/* @page {
	size: A4; /* DIN A4 standard, Europe *
	margin: 0;
} */
/* body {
	padding-top:15mm;
} */

@media print {
	* {
		-webkit-print-color-adjust: exact !important; /*Chrome, Safari */
		color-adjust: exact !important;  /*Firefox*/
	}
	/* @page {
		size: A4; /* DIN A4 standard, Europe *
		margin: 0;
	}
	html, body {
        width: 210mm;
        height: 282mm;
	} */
	
    body {
        padding-top: 15mm;
	}
	body > div.A4 > div.container-fluid {
		background-position-y: -8px !important;
	}

    div.selectize__menu {
        display: none;
    }
    div.selectize__menu-toggle {
        display: none;
    }
    input.selectize__textfield--no-selection {
        display: none;
	}
    .no-print, .no-print *
    {
        display: none !important;
    }
}

input::-moz-selection {
    color: white;
    background: lightgray;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: white;
}
  
input::selection {
    color: white;
    background: lightgray;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: white;
}

div.row {
    flex-direction: row;
    display: flex;
}

div.col {
    flex-direction: column;
    display: flex;
}
div.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10px;
	font-weight: bold;
	padding: 32px 47px 0 70px;
}

div.skills > div.col-4 > div > div.selectize__container {
	height: 24px !important; /* was 36px */
}
div.skills > div.col-4 > div > div.selectize__container > div > .selectize__textfield {
	padding: 1px 8px !important;
	height: 24px !important; /* was 35px */
}
div.skills > div.col-4 > div > div.selectize__container > div > div > div > div.selectize__menu-toggle {
	height: 23px !important; /* was 35px */
}
div.skills > div.col-4 > div > div.selectize__container > div > div > div > div.selectize__menu-toggle > i.material-icons {
	font-size: 20px !important;	
}

div.skills > div.col-4 {
    height: 62px;
    display: absolute;
}
.negative-value-invalid {
    background-color: rgb(255, 52, 93);
}
.positive-value-invalid {
    background-color: rgb(253, 158, 177);
}
.value-valid {
    background-color: white;
}
div.skills > div.col-4 > div.skill-select {
    width: 230px;
    float: left;
}
div.skills > div.col-4 > div.skill-points {
    margin: 5px 1px 0px 3px;
    width: 40px;
    float: left;
}
div.skills > div.col-4 > div.skill-points > input {
    width: 40px;
    font-weight: bold;
    font-size: 35px;
    text-align: right;
    height: 40px;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
div.skills > div.col-4 > div.skill-attribute {
    width: 20px;
    float: left;
    height: 40px;
    font-size: 35px;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
.nextToConfig {
    padding-left: 250px;
}
.nameinput {
    margin: 3px 50px 10px 20px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    height: 60px;
    width: 550px;
}
div.attributeRow {
	padding: 50px 40px 30px 260px;
}
@media print {
	input {
		border: 0;
		background: none;
	}
}
.dispositions {
    padding: 43px 10px 20px 30px;
}
.dispositionInput {
	text-align: center;
	width: 100%;
}
.dispositionInputContainer {
	padding: 0 2em .2em 2em;
}
.attributes {
    /* margin: 20px 10px 30px 10px; */
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
.attributeinput {
    font-weight: bold;
    font-size: 55px;
    text-align: right;
    height: 60px;
	width: 80px;
	flex: 1 1 auto;
    /* margin: 0px 37px 0px 10px; */
}
.attributeinput > input {
    font-weight: bold;
    font-size: 55px;
    text-align: right;
    height: 60px;
    width: 80px;
}
.attributeinputInvalid > input {
	background-color: rgb(255, 52, 93);
}
.amps {
	padding-top: 20px;
}
.essence {
	display: inline;
	font-size: 1.8em;
	font-weight: bold;
	color: white;
	padding-left: 540px;
}
.essenceeffects {
	display: inline;
	padding-left: 30px;
}
.ampsrow {
	padding: 2px 19px 0 34px;
}
.myContainer > .config {
    position: fixed;
    width: 250px;
    background-color: lightgoldenrodyellow;
    z-index: 999;
}
.ampButton {
    /* border: 2px solid #111;
	border-radius: 5px; */
	font-size: smaller;
	/* background-color: white; */
	padding: 0 5px;
	/* margin: 3px 0 3px 0; */
	align-items: center;
	/* min-height: 6.3em; */
	height: 81px;
	display: flex;
}
.ampButton > div {
	text-align: center;
}
.ampButton > div > div {
	text-align: center;
}
.ampPoints {
	/* border: 2px solid #111;
	border-radius: 5px; */
	/* background-color: white;
	padding: 0.1em 0.1em 0.1em 0.1em; */
	margin: 0 0 0 -1.5em;
	width: 2em;
	/* height: 2em; */
	align-items: center;
	text-align: center;
	font-weight: bolder;
	flex: 0 0 auto;
}
div.cues {
	padding: 63px 20px 0 40px;
}
div.cues > div {
	/* padding-bottom: 1px; */
}
div.qualities {
	padding: 50px 60px 0 73px;
}
.qualityButton {
    /* border: 2px solid #111;
	border-radius: 5px; */
	font-size: smaller;
	/* background-color: white; */
	padding: 0 5px;
	/* margin: 3px 0 3px 0; */
	align-items: center;
	/* min-height: 6.3em; */
	height: 60px;
	display: flex;
	line-height: 1.1em;
}
.qualityButton > div {
	text-align: center;
}
.qualityButton > div > div {
	text-align: center;
}