body > div.A4 {
	width: 1224px !important;
	padding: 0;
	margin: 0;
}
body > div.A4 > div.container-fluid {
	height: 1730px !important;
	background-repeat: no-repeat !important;
}
@media print {
	body > div.A4 > div.container-fluid {
		height: 1530px !important; /*height of the PDF template*/
	}
}
input::-moz-selection {
    color: white;
    background: lightgray;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: white;
}
input::selection {
    color: white;
    background: lightgray;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: white;
}
div.row {
    flex-direction: row;
    display: flex;
}
div.col {
    flex-direction: column;
    display: flex;
}
.nameinput {
    margin: 3px 0 10px 299px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    height: 60px;
    width: 550px;
}
div.weirdness {
	position: absolute;
    top: 20px;
    left: 1099px;
}
@media print {
	div.weirdness {
		top: 78px;
	}
}
div.weirdness > input.emerged {
	
}
div.weirdness > input.awakened {
	top: 34px;
    position: absolute;
    left: 0;
}
div.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10px;
	font-weight: bold;
	padding: 32px 47px 0 70px;
}
@media print {
	div.skills {
		padding: 36px 47px 0 70px;
	}
}
div.skills > div.col-4 > div > div.selectize__container {
	height: 24px !important; /* was 36px */
}
div.skills > div.col-4 > div > div.selectize__container > div > .selectize__textfield {
	padding: 1px 8px !important;
	height: 24px !important; /* was 35px */
}
div.skills > div.col-4 > div > div.selectize__container > div > div > div > div.selectize__menu-toggle {
	height: 23px !important; /* was 35px */
}
div.skills > div.col-4 > div > div.selectize__container > div > div > div > div.selectize__menu-toggle > i.material-icons {
	font-size: 20px !important;	
}
div.skills > div.col-4 {
    height: 62px;
    display: absolute;
}
.negative-value-invalid {
    background-color: rgb(255, 52, 93);
}
.positive-value-invalid {
    background-color: rgb(253, 158, 177);
}
.value-valid {
    background-color: white;
}
div.skills > div.col-4 > div.skill-select {
    width: 225px;
    float: left;
}
div.skills > div.col-4 > div.skill-points {
    margin: 5px 1px 0px 3px;
    width: 35px;
    float: left;
}
div.skills > div.col-4 > div.skill-points > input {
    width: 40px;
    font-weight: bold;
    font-size: 35px;
    text-align: right;
    height: 40px;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
div.skills > div.col-4 > div.skill-attribute {
    width: 20px;
    float: left;
    height: 40px;
    font-size: 35px;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
div.attributeRow {
	padding: 50px 40px 30px 260px;
}
@media print {
	input {
		border: 0;
		background: none;
	}
}
.dispositions {
    padding: 43px 10px 20px 30px;
}
.dispositionInput {
	text-align: center;
	width: 100%;
}
.dispositionInputContainer {
	padding: 0 0 5px 0;
	/* background: transparent !important; */

}
.attributes {
    /* margin: 20px 10px 30px 10px; */
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
.attributeinput {
    font-weight: bold;
    font-size: 55px;
    text-align: right;
    height: 60px;
	width: 80px;
	flex: 1 1 auto;
    /* margin: 0px 37px 0px 10px; */
}
.attributeinput > input {
    font-weight: bold;
    font-size: 55px;
    text-align: right;
    height: 60px;
    width: 80px;
}
.attributeinputInvalid > input {
	background-color: rgb(255, 52, 93);
}
div.amps {
	padding-top: 16px;
}
@media print {
	div.amps {
		padding-top: 20px;
	}
}
div.essence {
	display: inline;
	font-size: 1.8em;
	font-weight: bold;
	color: white;
	padding-left: 540px;
}
div.essenceeffects {
	display: inline;
	padding-left: 30px;
}
div.ampsrow {
	padding: 2px 19px 0 34px;
	line-height: 1em;
}
div.container-fluid > div.config {
    position: fixed;
    top: 0;
    left: 1224px;
    padding: 15px;
    border: 2px solid #444;
    margin: 5px;
    border-radius: 8px;
}
div.container-fluid > div.config div {
    padding: 3px;
    border-radius: 5px;
	margin: 3px 0;
}
div.config-no-elm {
	position: fixed;
    bottom: 0;
    left: 1224px;
    padding: 15px;
    border: 2px solid #444;
    margin: 5px;
    border-radius: 8px;
}
.ampButton {
    /* border: 2px solid #111;
	border-radius: 5px; */
	font-size: smaller;
	/* background-color: white; */
	padding: 0 5px;
	/* margin: 3px 0 3px 0; */
	align-items: center;
	/* min-height: 6.3em; */
	height: 81px;
	display: flex;
}
.ampButton > div {
	text-align: center;
}
.ampButton > div > div {
	text-align: center;
}
.ampPoints {
	/* border: 2px solid #111;
	border-radius: 5px; */
	/* background-color: white;
	padding: 0.1em 0.1em 0.1em 0.1em; */
	margin: 0 0 0 -1.5em;
	width: 2em;
	/* height: 2em; */
	align-items: center;
	text-align: center;
	font-weight: bolder;
	flex: 0 0 auto;
}
div.cues {
	padding: 63px 20px 0 40px;
}
div.cues > div {
	/* padding-bottom: 1px; */
}
div.qualities {
	position: absolute;
    top: 1000px;
    padding: 0 60px 0 73px;
    width: 1224px;
}
@media print {
	div.qualities {
		top: 1060px;
	}
}
.qualityButton {
    /* border: 2px solid #111;
	border-radius: 5px; */
	font-size: smaller;
	/* background-color: white; */
	padding: 0 5px;
	/* margin: 3px 0 3px 0; */
	align-items: center;
	/* min-height: 6.3em; */
	height: 60px;
	display: flex;
	line-height: 1.1em;
}
.qualityButton > div {
	text-align: center;
}
.qualityButton > div > div {
	text-align: center;
}
div.armor {
	position: absolute;
    left: 240px;
    top: 1308px;
    font-size: 33px;
    font-weight: bolder;
    /* color: white; */
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #FFFFFF;
}
@media print {
	div.armor {
		top: 1366px;
	}
}
div.condition-monitor-physical {
	position: absolute;
    left: 460px;
    top: 1318px;
    font-size: 23px;
    font-weight: bolder;
    color: white;
}
@media print {
	div.condition-monitor-physical {
		top: 1376px;
	}
}
div.condition-monitor-stun {
	position: absolute;
    left: 655px;
    top: 1318px;
    font-size: 23px;
    font-weight: bolder;
    color: white;
}
@media print {
	div.condition-monitor-stun {
		top: 1376px;
	}
}
@media print {
	* {
		-webkit-print-color-adjust: exact !important; /*Chrome, Safari */
		color-adjust: exact !important;  /*Firefox*/
	}
	
	
    body {
        padding-top: 15mm;
	}
	/* body > div.A4 > div.container-fluid {
		background-position-y: -8px !important;
	} */

    div.selectize__menu {
        display: none;
    }
    div.selectize__menu-toggle {
        display: none;
    }
    input.selectize__textfield--no-selection {
        display: none;
	}
    .no-print, .no-print *
    {
        display: none !important;
    }
}
